In [1]:
import pandas as pd
import os

from tensorflow.keras.applications import VGG19
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten
from keras.callbacks import EarlyStopping, ReduceLROnPlateau

/var/folders/my/rbl5q7yd7pxb2yk9_qjc7mjr0000gn/T/ipykernel_67621/853756053.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('list_attribute.txt', delim_whitespace=True, skiprows=1)

file_images = os.listdir('images/')
df_filtered = df[df.index.isin(file_images)]

df_filtered.describe()

/var/folders/my/rbl5q7yd7pxb2yk9_qjc7mjr0000gn/T/ipykernel_67621/2892880123.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv('list_attribute.txt', delim_whitespace=True, skiprows=1)

,5_o_Clock_Shadow,Arched_Eyebrows,Attractive,Bags_Under_Eyes,Bald,Bangs,Big_Lips,Big_Nose,Black_Hair,Blond_Hair,...,Sideburns,Smiling,Straight_Hair,Wavy_Hair,Wearing_Earrings,Wearing_Hat,Wearing_Lipstick,Wearing_Necklace,Wearing_Necktie,Young
count,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.0000
mean,-0.785200,-0.46920,0.031200,-0.591200,-0.948800,-0.706000,-0.542800,-0.548800,-0.532800,-0.717600,...,-0.887600,-0.056000,-0.588000,-0.388400,-0.628400,-0.903200,-0.060400,-0.75800,-0.858800,0.5552
std,0.619304,0.88318,0.999613,0.806606,0.315909,0.708283,0.839946,0.836037,0.846326,0.696525,...,0.460661,0.998531,0.808942,0.921583,0.777968,0.429263,0.998274,0.65232,0.512362,0.8318
min,-1.000000,-1.00000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000,-1.0000
25%,-1.000000,-1.00000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000,1.0000
50%,-1.000000,-1.00000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000,1.0000
75%,-1.000000,1.00000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,1.000000,-1.000000,1.000000,-1.000000,-1.000000,1.000000,-1.00000,-1.000000,1.0000
max,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.0000

In [3]:
df_filtered.reset_index(inplace=True)
df_compiled = df_filtered[['index', 'Male']]
df_compiled

           index  Male
0     000051.jpg     1
1     000052.jpg     1
2     000065.jpg     1
3     000166.jpg     1
4     000198.jpg    -1
...          ...   ...
4995  202320.jpg    -1
4996  202340.jpg    -1
4997  202347.jpg    -1
4998  202357.jpg    -1
4999  202566.jpg     1

[5000 rows x 2 columns]

In [4]:
df_compiled['Male'] = df_compiled['Male'].replace(-1, 0)
df_compiled['Male'] = df_compiled['Male'].astype('string')

df_compiled

/var/folders/my/rbl5q7yd7pxb2yk9_qjc7mjr0000gn/T/ipykernel_67621/1179425564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compiled['Male'] = df_compiled['Male'].replace(-1, 0)
/var/folders/my/rbl5q7yd7pxb2yk9_qjc7mjr0000gn/T/ipykernel_67621/1179425564.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_compiled['Male'] = df_compiled['Male'].astype('string')

           index Male
0     000051.jpg    1
1     000052.jpg    1
2     000065.jpg    1
3     000166.jpg    1
4     000198.jpg    0
...          ...  ...
4995  202320.jpg    0
4996  202340.jpg    0
4997  202347.jpg    0
4998  202357.jpg    0
4999  202566.jpg    1

[5000 rows x 2 columns]

In [5]:
df_compiled.loc[df_compiled['Male'] == '1', ['Male']] = 'Male'
df_compiled.loc[df_compiled['Male'] == '0', ['Male']] = 'Female'

In [6]:
df_compiled

           index    Male
0     000051.jpg    Male
1     000052.jpg    Male
2     000065.jpg    Male
3     000166.jpg    Male
4     000198.jpg  Female
...          ...     ...
4995  202320.jpg  Female
4996  202340.jpg  Female
4997  202347.jpg  Female
4998  202357.jpg  Female
4999  202566.jpg    Male

[5000 rows x 2 columns]

In [7]:
train_files = os.listdir('train/')
test_files = os.listdir('test/')
df_train = df_compiled[df_compiled['index'].isin(train_files)]
df_test = df_compiled[df_compiled['index'].isin(test_files)]

In [8]:
df_train

           index    Male
0     000051.jpg    Male
1     000052.jpg    Male
3     000166.jpg    Male
4     000198.jpg  Female
5     000201.jpg  Female
...          ...     ...
4986  201867.jpg  Female
4992  202200.jpg  Female
4993  202253.jpg  Female
4994  202276.jpg    Male
4995  202320.jpg  Female

[3500 rows x 2 columns]

In [9]:
df_test

           index    Male
2     000065.jpg    Male
7     000282.jpg    Male
18    000608.jpg    Male
20    000716.jpg  Female
21    000771.jpg    Male
...          ...     ...
4991  202045.jpg  Female
4996  202340.jpg  Female
4997  202347.jpg  Female
4998  202357.jpg  Female
4999  202566.jpg    Male

[1500 rows x 2 columns]

In [10]:
IMG_SIZE = (218, 178)
BATCH_SIZE = 30
EPOCH_COUNT = 20

In [11]:
# Train Gen

train_datagen = ImageDataGenerator(
    rotation_range=15,
    rescale=1./255,
    shear_range=0.1,
    zoom_range=0.2,
    horizontal_flip=True,
    width_shift_range=0.1,
    height_shift_range=0.1
)

train_generator = train_datagen.flow_from_dataframe(
    df_train,
    './train',
    x_col='index',
    y_col='Male',
    target_size=IMG_SIZE,
    class_mode='binary',
    batch_size=BATCH_SIZE
)

Found 3500 validated image filenames belonging to 2 classes.

In [12]:
# Val Gen
val_datagen = ImageDataGenerator(rescale=1./255)
val_generator = val_datagen.flow_from_dataframe(
    df_test,
    './test',
    x_col='index',
    y_col='Male',
    target_size=IMG_SIZE,
    class_mode='binary',
    batch_size=BATCH_SIZE
)

Found 1500 validated image filenames belonging to 2 classes.

In [13]:
base_model = VGG19(weights='imagenet', include_top=False, input_shape= IMG_SIZE + (3,))
base_model.trainable = False
base_model.summary()

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/vgg19/vgg19_weights_tf_dim_ordering_tf_kernels_notop.h5
80134624/80134624 [==============================] - 25s 0us/step
Model: "vgg19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 218, 178, 3)]     0

 block1_conv1 (Conv2D)       (None, 218, 178, 64)      1792

 block1_conv2 (Conv2D)       (None, 218, 178, 64)      36928

 block1_pool (MaxPooling2D)  (None, 109, 89, 64)       0

 block2_conv1 (Conv2D)       (None, 109, 89, 128)      73856

 block2_conv2 (Conv2D)       (None, 109, 89, 128)      147584

 block2_pool (MaxPooling2D)  (None, 54, 44, 128)       0

 block3_conv1 (Conv2D)       (None, 54, 44, 256)       295168

 block3_conv2 (Conv2D)       (None, 54, 44, 256)       590080

 block3_conv3 (Conv2D)       (None, 54, 44, 256)       590080

 block3_conv4 (Conv2D)       (None, 54, 44, 256)       590080

 block3_pool (MaxPooling2D)  (None, 27, 22, 256)       0

 block4_conv1 (Conv2D)       (None, 27, 22, 512)       1180160

 block4_conv2 (Conv2D)       (None, 27, 22, 512)       2359808

 block4_conv3 (Conv2D)       (None, 27, 22, 512)       2359808

 block4_conv4 (Conv2D)       (None, 27, 22, 512)       2359808

 block4_pool (MaxPooling2D)  (None, 13, 11, 512)       0

 block5_conv1 (Conv2D)       (None, 13, 11, 512)       2359808

 block5_conv2 (Conv2D)       (None, 13, 11, 512)       2359808

 block5_conv3 (Conv2D)       (None, 13, 11, 512)       2359808

 block5_conv4 (Conv2D)       (None, 13, 11, 512)       2359808

 block5_pool (MaxPooling2D)  (None, 6, 5, 512)         0

=================================================================
Total params: 20024384 (76.39 MB)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 20024384 (76.39 MB)
_________________________________________________________________

In [14]:
model = Sequential()
model.add(base_model)
model.add(Flatten())
model.add(Dense(256,activation='relu'))
model.add(Dense(256,activation='relu'))
model.add(Dense(64,activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(2, activation='sigmoid'))

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 vgg19 (Functional)          (None, 6, 5, 512)         20024384

 flatten (Flatten)           (None, 15360)             0

 dense (Dense)               (None, 256)               3932416

 dense_1 (Dense)             (None, 256)               65792

 dense_2 (Dense)             (None, 64)                16448

 dense_3 (Dense)             (None, 32)                2080

 dense_4 (Dense)             (None, 16)                528

 dense_5 (Dense)             (None, 2)                 34

=================================================================
Total params: 24041682 (91.71 MB)
Trainable params: 4017298 (15.32 MB)
Non-trainable params: 20024384 (76.39 MB)
_________________________________________________________________

In [ ]:
# from keras.optimizers import Adam

# adam = Adam(learning_rate=0.01)

In [16]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [17]:
from tensorflow.keras.callbacks import ModelCheckpoint

earlystop = EarlyStopping(patience=10)
learning_rate_reduction = ReduceLROnPlateau(monitor='val_acc',
                                            patience=4,
                                            verbose=1,
                                            factor=0.5,
                                            min_lr=0.001)
# Define a ModelCheckpoint callback to save the model weights during training
checkpoint_callback = ModelCheckpoint(filepath='Dataset/vgg_weights.h5',
                                      save_best_only=True,
                                      save_weights_only=False)

callbacks = [checkpoint_callback, earlystop, learning_rate_reduction]

In [ ]:
history = model.fit(train_generator,
                    validation_data = val_generator,
                    validation_steps=len(df_test)//BATCH_SIZE,
                    steps_per_epoch=len(df_train)//BATCH_SIZE,
                    epochs=EPOCH_COUNT,
                    verbose = 1,
                    callbacks=callbacks
                    )